@using Microsoft.AspNetCore.Identity;
@using AwesomeNetwork.Models.Users;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="logout-container">
        <a class="enter_submit text-white" asp-area="" asp-controller="AccountManager" asp-action="Logout">Выход</a>
    </div>
}

@*     <form asp-area="" asp-controller="AccountManager" asp-action="Logout">
        <button class="enter_submit" type="submit">Logout</button>
    </form> *@