<div class="search-container">
    <form asp-area="" asp-controller="Home" asp-action="Privacy">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="Поиск" name="search">
    </form>
</div>