@page
@{
    ViewData["Title"] = "Главная";
}



<div class="row">
    <div class="side">

        Описание самой клевой соцсети
    </div>


    <div class="main">

        блок регистрации
        блок авторизации
    </div>

</div>